table,td,th{border: 2px solid white;}

h1{
    font-size: 40pt;
    color: white;
}


h2{
    font-size: 15pt;
    color: white;
}

h3{
    font-size: 10pt;
    color: white;
}

table{
    margin: auto;
    width: auto;
}

td{padding: 10px;
    
    font-size: 19pt;
    color: white
}

th{padding: 10px;
    text-align: center;
    font-size: 19pt;
    color: white;
    
}




#GRAFICA{display: block;
  margin: auto;
  width: 50%;
  
}

#bot {
    margin-top: 10px;
    background-color: rgb(151, 105, 194);
    margin-left: 33%

   
}

#img{
    width: 100%
}

  
